* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.capa {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.8)),
              url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.capa-conteudo h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.capa-conteudo p {
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  border: none;
  background: #ffb000;
  color: #111;
  padding: 13px 22px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffc933;
}

.secao {
  padding: 45px 20px;
  max-width: 1100px;
  margin: auto;
}

.secao h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #1d1d1d;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.card .foto {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  background: #292929;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

.card p {
  color: #ccc;
  min-height: 45px;
  margin-bottom: 12px;
}

.card strong {
  display: block;
  color: #ffb000;
  font-size: 23px;
  margin-bottom: 15px;
}

.card button {
  width: 100%;
}

.preco-antigo {
  display: block;
  color: #888;
  text-decoration: line-through;
  margin-bottom: 3px;
}

.promocao {
  border: 2px solid #ffb000;
}

.carrinho {
  background: #1c1c1c;
  padding: 35px 20px;
  text-align: center;
}

.carrinho h2 {
  margin-bottom: 20px;
}

#listaPedido {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.item-pedido {
  background: #292929;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.carrinho h3 {
  margin: 25px 0;
  font-size: 23px;
}

.finalizar {
  background: #25d366;
  color: white;
}

footer {
  text-align: center;
  padding: 25px;
  background: #080808;
  color: #aaa;
}

@media (max-width: 600px) {

  .capa-conteudo h1 {
    font-size: 32px;
  }

  .capa-conteudo p {
    font-size: 17px;
  }

  .secao {
    padding: 35px 15px;
  }

}